.login_form{
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #cccccc;
    background: #eeeeee;
  }
.login_form_forgot {
    float: right;
  }
.login_form_button {
    width: 100%;
  }